<HTML><HEAD>
<TITLE>Introducere la Webglimpse în româneºte</TITLE>
</HEAD>
<BODY bgcolor="#ffffdd" LINK="#0044ff" text="#000010">

<H2>Bine aþi venit la Webglimpse.Net</H2>
Webglimpse ºi Glimpse sunt motoare de cãutare Unix. Puteþi folosi glimpse pentru a indexa fiºiere locale din calculatorul dv., ºi Webglimpse pentru a indexa situri Web ºi a le face explorabile din Internet.
<p>
Cea mai mare parte a acestui sit e în Englezã, dar Webglimpse însuºi poate fi folosit pentru a indexa documente în orice limbã care utilizeazã caractere pe un octet. Persoana care instaleaza Webglimpse va avea probabil nevoie sã cunoascã engleza, dar utilizatorii care cautã pe situl dumneavoastra nu vor avea nevoie. Formularul de cãutare ºi rezultatul pot fi generate în româneste.
<p>
Webglimpse ºi Glimpse sunt gratuite pentru o folosire non-profit sau pentru instituþii de învãþãmânt. Ceilalti utilizatori sunt invitaþi sã cumpere o licenþã, sau sã presteze ceva muncã în schimbul ei. Avem nevoie de traducatori - asa cã 5 pagini de documentaþie traduse în orice altã limbã pe care n-o avem reprezintã o licenþã comercialã!
<p>
<hr>

<A HREF="http://webglimpse.net">Webglimpse.net</A> 
* 
<A HREF="http://webglimpse.net/docs/">Documentaþie</A>
* 
<A HREF="http://webglimpse.net/download.php">Descãrcari</A>
* 
<A HREF="http://webglimpse.net/cgi/wgarcmin.cgi">Demonstraþie online</A>
* 
<A HREF="http://webglimpse.net/dev/">Noutãþi</A>
* 
<A HREF="https://iwhome.com/webglimpse/">Cumpãraþi</A>

</BODY>
</HTML>
