<HTML>
<HEAD>
<title>Пълно претърсване на архива |TITLE| </title>
</head>

<body  onLoad="document.wgform.query.focus()" bgcolor="#ffffdd"><center>



<table border=5 bgcolor="#ffffff">
<tr><td align=center valign=middle>
    <a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://webglimpse.net">WebGlimpseII</a>
   Търси<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated as of v1.6. If this bothers you e-mail gberns@iwhome.com and complain -->

<tr><td colspan=2 align=center>

<FORM method=get NAME="wgform" ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">

Търси в пълния архив: : |TITLE|
</td></tr>

<tr><td colspan=2>
Стринг за търсене: : <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Давай>
<br>
Подреди по:
<SELECT name="rankby">
<OPTION VALUE="DEFAULT">Комбиниран резултат
<OPTION VALUE="AGE">Първо най-скорошните
<OPTION VALUE="LINKPOP">Популярност на линка
<OPTION VALUE="TITLE_AND_META">Съвпадения в заглавието и мета-таговете
</SELECT>
<br>

<INPUT NAME=case TYPE=checkbox>С оглед на главни и малки
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>%%Частично съвпадение
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Прескочи на ред
<br>
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
правописните грешки позволени

<!-- Admins - "Use filters" must be checked for field-based searching, 
any kind of files that were filtered when indexed (such as PDF/Word/Excel), 
and non-English characters.  If it is required for your index, 
you may want to turn the following checkbox on by default or even make 
it a hidden tag with value="on" -->

<!-- SPACES-->&#160;&#160;&#160;&#160;&#160;&#160;
<INPUT NAME=nonascii TYPE=checkbox>Използвай филтри
<br>
</center>
Върни само файлове, модифицирани през последните -- дни. <INPUT NAME=age size=5> .
<br>
Максимален брой върнати файлове:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>20
<OPTION>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>Максимален брой съвпадения на върнат файл:
<SELECT NAME=maxlines>
<OPTION selected>10
<OPTION>30
<OPTION>50
<OPTION>500
</SELECT>
<br>Максимален брой изведени знаци на файл:
<INPUT NAME="maxchars" VALUE=3000>
<br>
<input type=checkbox name="sentence"> Опитай да покажеш само изречения, съдържащи ключови думи.
<br>
<input type=checkbox name="limit"> Върни само една страница резултати за максимална бързина.  			Ще бъдат върнати само най-скорошните файлове.
<br><i><!-- Limit to one page is only functional with commercial version --></i>
<!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME="cache" VALUE="yes" TYPE="HIDDEN">

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.org">Glimpse</a> и 
<a href="http://webglimpse.net">WebGlimpse</a>, 
Copyright &copy; 1996 
University of Arizona, &copy; 1998 Internet WorkShop
</center>
</font></td></tr>
</table>


</body>
</html>
