<HTML><HEAD>
<TITLE>Introduction en français à Webglimpse</TITLE>
</HEAD>
<BODY bgcolor="#ffffdd" LINK="#0044ff" text="#000010">

<H2>Bienvenu à Webglimpse.Net</H2>
Webglimpse et Glimpse sont des moteurs de recherche Unix. Vous pouvez utiliser glimpse pour indexer les fichiers de votre disque dur, et Webglimpse pour indexer les sites Web et les faire ensuite disponibles depuis l'Internet.
<p>
La plupart de ce site est en anglais, mais Webglimpse peut être utilisé pour indexer des documents dans n'importe quel langue pourvu qu'elle utilise un seul octet pour les caractères, donc le français. La personne qui installe et configure Webglimpse aura probablement besoin de connaître l'anglais, mais les utilisateurs qui recherchent sur votre site non. Le formulaire de recherche et le résultat de sortie peuvent être générés en français.
<p>
Webglimpse et Glimpse sont gratuits pour un usage sans bénéfice matériel et pour les institutions éducatives. Autres utilisateurs doivent aquérir une license, ou donner en echange un peu de travail pour en avoir. Nous avons bésoin de traducteurs - et donc 5 pages de documentation traduites dans une langue que nous n'avons pas représente une license commerciale!
<p>
<hr>

<A HREF="http://webglimpse.net">Webglimpse.net</A> 
* 
<A HREF="http://webglimpse.net/docs/">Documentation</A>
* 
<A HREF="http://webglimpse.net/download.php">Téléchargements</A>
* 
<A HREF="http://webglimpse.net/cgi/wgarcmin.cgi">Démonstration en ligne</A>
* 
<A HREF="http://webglimpse.net/dev/">Infos de développement</A>
* 
<A HREF="https://iwhome.com/webglimpse/">Acheter</A>

</BODY>
</HTML>
