<HTML>
<HEAD>
<title>Rechercher complete sur l'archive |TITLE| </title>
</head>

<body  bgcolor="#ffffdd"><center>



<table border=5 bgcolor="#ffffff">
<tr><td align=center valign=middle>
    <a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://webglimpse.net">WebGlimpseII</a>
   Search<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated as of v1.6. If this bothers you e-mail gberns@iwhome.com and complain -->

<tr><td colspan=2 align=center>

<FORM method=get ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">

Rechercher l'archive au complete: |TITLE|
</td></tr>

<tr><td colspan=2>
Chaîne de caractères à rechercher:  <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Chercher>

<br>

<INPUT NAME=case TYPE=checkbox>Respecter la casse (maj./min.)
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>Correspondance partielle
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Aller &agrave; la ligne
<br>
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
Faute(s) d'orthographe permise(s)

<!-- Admins - "Use filters" must be checked for field-based searching, 
any kind of files that were filtered when indexed (such as PDF/Word/Excel), 
and non-English characters.  If it is required for your index, 
you may want to turn the following checkbox on by default or even make 
it a hidden tag with value="on" -->

<!-- SPACES-->&#160;&#160;&#160;&#160;&#160;&#160;
<INPUT NAME=nonascii TYPE=checkbox>Utilisation d'un filtre
<br>
</center>
Retourner seulement les fichiers modifiés depuis <INPUT NAME=age size=5>
jours.
<br>
Nombre maximum de fichiers retourn&eacute;s:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>Nombre maximum de correspondance par fichiers retourn&eacute;s:
<SELECT NAME=maxlines>
<OPTION>10
<OPTION selected>30
<OPTION>50
<OPTION>500
</SELECT>
<br>Nombre maximum de caract&egrave;res par fichier:
<INPUT NAME="maxchars" VALUE=10000>
<br>
<!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME="cache" VALUE="yes" TYPE="HIDDEN">

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.org">Glimpse</a> and 
<a href="http://webglimpse.net">WebGlimpse</a>, 
Copyright &copy; 1996 
Universit&eacute; d'Arizona, &copy; 1998 Internet WorkShop
</center>
</font></td></tr>
</table>


</body>
</html>
