<HTML>
<HEAD>
<title>B&uacute;squeda por subdirectorios en el &iacute;ndice |TITLE| </title>
</head>

<body><center>
<table border=5>
<tr><td align=center valign=middle>
 <a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://glimpse.cs.arizona.edu/webglimpse">WebGlimpse</a>
   Search<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated in v1.6.  If this bothers you, e-mail gberns@tucson.com -->

<tr><td colspan=2 align=center>
<FORM method=get ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="pathinfo" VALUE="|DIR|">
Busque en el &iacute;ndice: |TITLE|
</td></tr>

<tr><td colspan=2>
Texto a buscar: <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Submit>
<br>
Busque en el directorio:<SELECT NAME="filter">

|DIRECTORYOPTIONS|

</SELECT>
<br>
<INPUT NAME=case TYPE=checkbox>May&uacute;s./m&iacute;nus.
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>Acierto&#160;parcial
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Salte&#160;a&#160;la&#160;l&iacute;nea
<!-- SPACES -->&#160;&#160;&#160;
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
Errores&#160;permitidos
<br>
<INPUT NAME=nonascii TYPE=checkbox VALUE=on TYPE=HIDDEN>
</center>
Retorne s&oacute;lo archivos modificados dentro de los &uacute;ltimos <INPUT NAME=age size=5>
dias.
<br>
N&uacute;mero m&aacute;ximo de archivos retornados:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>N&uacute;mero m&aacute;ximo de aciertos por archivo retornado:
<SELECT NAME=maxlines>
<OPTION>10
<OPTION selected>30
<OPTION>50
<OPTION>500
</SELECT>
<br>
<br>N&uacute;mero m&aacute;ximo de caracteres retornados por archivo:
<INPUT NAME="maxchars" VALUE=10000>
<br>

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.org">Glimpse</a> and 
<a href="http://webglimpse.net">WebGlimpse</a>, 
Copyright &copy; 1996, 
University of Arizona
</center>
</font></td></tr>
</table>

</body>
</html>
