<HTML>
<HEAD>
<title>Busca por subdiretorios no  &iacute;ndice |TITLE| </title>
</head>

<body><center>
<table border=5>
<tr><td align=center valign=middle>
    <a href="http://webglimpse.net"><img src=".glimpse-eye.jpg" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://webglimpse.net">WebGlimpse</a>
   Search<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated in v1.6.  If this bothers you, e-mail gberns@tucson.com -->

<tr><td colspan=2 align=center>

<FORM method=get ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">

Procure no &iacute;ndice |TITLE| como diret&oacute;rio
</td></tr>

<tr><td colspan=2>
Texto para procurar:  <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Submit>
<br>
Procure no diret&oacute;rio: <SELECT NAME="filter">

|DIRECTORYOPTIONS|

</SELECT>
<br>
<INPUT NAME=case TYPE=checkbox>Mai&uacute;s./min&uacute;s.
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>Acerto&#160;parcial
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Pule&#160;para&#160;a&#160;linha
<!-- SPACES -->&#160;&#160;&#160;
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
Errors&#160;permitidos
<br>
</center>
Retorne somente arquivos modificados dentro dos &uacute;ltimos <INPUT NAME=age size=5>
dias.
<br>
N&uacute;mero m&aacute;ximo de arquivos retornados:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>N&uacute;mero m&aacute;ximo de acertos por arquivo:
<SELECT NAME=maxlines>
<OPTION>10
<OPTION selected>30
<OPTION>50
<OPTION>500
</SELECT>
<br>
<br>N&uacute;mero m&aacute;ximo de caracteres retornados por arquivo:
<INPUT NAME="maxchars" VALUE=10000>
<br>
<!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME="cache" VALUE="yes" TYPE="HIDDEN">

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.org">Glimpse</a> and 
<a href="http://webglimpse.net">WebGlimpse</a>, 
Copyright &copy; 1996, 
University of Arizona
</center>
</font></td></tr>
</table>

</body>
</html>

