<HTML><HEAD>
<TITLE>Sissejuhatus Webglimpse'i eesti keeles.
</TITLE>
</HEAD>
<BODY bgcolor="#ffffdd" LINK="#0044ff" text="#000010">

<H2>Teretulemast Webglimpse.Net'i
</H2>
<A HREF="licensing.html">Licencia</A> * <A HREF="wgindex.html">Ejemplo Busque</A>
<p>
Webglimpse ja Glimpse on Unix'i otsingumootorid. Sa v&otilde;id kasutada
glimpse'i failide indekseerimiseks lokaalselt oma k&otilde;vakettal ja
Webglimpse'i veebi lehtede indekseerimiseks ning teha see otsitavaks
l&auml;bi Interneti.
<p>
Enamus sellest kodulehest on siiski ainult inglise keeles, kuid Webglimpse'i
ennast v&otilde;ib kasutada suvalise &uuml;hebaidilise keele dokumentide
indekseerimiseks, kaasaarvatud eesti keel. Inimene, kes installeerib
ja konfigureerib Webglimpse'i peaks siiski oskama inglise keelt, kuid
kasutajad, kes otsivad su kodulehelt, ei pea valdama inglise keelt. Otsingu
vorm ja tulemuste v&auml;ljund v&otilde;ib olla koostatud suvalises keeles.<p>

Webglimpse ja Glimpse on vabad kasutamiseks mittetulunduslikul eesm&auml;rgil,
samuti haridusasutustele. Teised kasutajad peavad ostma litsentsi v&otilde;i
vahetama oma t&ouml;&ouml; tulemuste vastu. Meil on vaja t&otilde;lkijaid -
5 lehek&uuml;lge teksti t&otilde;lkida keelde, mida meil veel pole, on piisav
kommerts litsentsiks.
<p>
<A HREF="wgindex.html">Busque en los Archivos Ejemplo en Español</A>
<p>

<hr>

<A HREF="http://webglimpse.net">Webglimpse.net</A> 
* 
<A HREF="http://webglimpse.net/docs/">Dokumentatsioon</A>
* 
<A HREF="http://webglimpse.net/download.html">Allalaadimine (download)</A>
* 
<A HREF="http://webglimpse.net/demo.html">T&ouml;&ouml;tav n&auml;idis</A>
* 
<A HREF="http://webglimpse.net/dev/">Arendusuudised</A>
* 
<A HREF="https://iwhome.com/webglimpse/">Ost</A>

</BODY>
</HTML>
