<HTML>
<HEAD>
<title>T&auml;ielik otsing arhiivis |TITLE| </title>
</head>

<body  bgcolor="#ffffdd"><center>



<table border=5 bgcolor="#ffffff">
<tr><td align=center valign=middle>
    <a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://webglimpse.net">WebGlimpseII</a>
   Otsi<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated as of v1.6. If this bothers you e-mail gberns@iwhome.com and complain -->

<tr><td colspan=2 align=center>

<FORM method=get ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">

Otsi t&auml;ielikust arhiivist:  |TITLE|
</td></tr>

<tr><td colspan=2>
Tekst, mida otsida: <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Submit>
<br>
Rank by
<SELECT name="rankby">
<OPTION VALUE="DEFAULT">Combined score
<OPTION VALUE="AGE">Most recent first
<OPTION VALUE="LINKPOP">Link Popularity
<OPTION VALUE="TITLE_AND_META">Title and Meta matches
</SELECT>
<br>

<INPUT NAME=case TYPE=checkbox>Suurt-&#160;ja&#160;v&auml;iket&auml;he&#160;tundlikkus
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>Osaline&#160;leidmine
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Liigu&#160;reale
<br>
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
kirjavead&#160;lubatud

<!-- Admins - "Use filters" must be checked for field-based searching, 
any kind of files that were filtered when indexed (such as PDF/Word/Excel), 
and non-English characters.  If it is required for your index, 
you may want to turn the following checkbox on by default or even make 
it a hidden tag with value="on" -->

<!-- SPACES-->&#160;&#160;&#160;&#160;&#160;&#160;
<INPUT NAME=nonascii TYPE=checkbox>Kasuta filtreid
<br>
</center>
N&auml;ita faile, mida on muudetud <INPUT NAME=age size=5>
p&auml;eva jooksul.
<br>
Maksimaalne failide arv:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>Maksimaalne leidude arv faili kohta:
<SELECT NAME=maxlines>
<OPTION>10
<OPTION selected>30
<OPTION>50
<OPTION>500
</SELECT>
<br>Maksimaalne m&auml;rkide arv v&auml;ljundit faili kohta:
<INPUT NAME="maxchars" VALUE=3000>
<br>
<input type=checkbox name="sentence"> P&uul;&uul;a n&auml;idata ainult neid lauseid, kus esineb leius&otilde;na.
<br>
<input type=checkbox name="limit"> N&auml;ita ainult &uuml;hte otsingutulemuste lehte maksimaalse kiiruse jaoks.  Ainult
k&otilde;ige hilisemaid faile n&auml;idatakse.

<!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME="cache" VALUE="yes" TYPE="HIDDEN">

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.org">Glimpse</a> and 
<a href="http://webglimpse.net">WebGlimpse</a>, 
Copyright &copy; 1996 
Arizona &Uuml;likool, &copy; 1998 Internet WorkShop
</center>
</font></td></tr>
</table>


</body>
</html>
