<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML><HEAD><TITLE>Full Search on Webglimpse Archive  =E7=E9=F4=E5=F9 =
=EE=EC=E0 </TITLE>
<META content=3D"text/html; charset=3Dwindows-1255" =
http-equiv=3DContent-Type>
<META content=3D"MSHTML 5.00.2919.6307" name=3DGENERATOR></HEAD>
<BODY>
<DIV align=3Dcenter>
<CENTER>
<TABLE border=3D5 WIDTH=3D90%>
  <TBODY>
  <TR>
    <TD align=3Dmiddle><A =
href=3D"http://glimpse.cs.arizona.edu/webglimpse"><IMG=20
      align=3Dmiddle alt=3D"Webglimpse Logo" height=3D34 src=3D"" =
width=3D60></A> </TD>
    <TD align=3Dmiddle>
      <P align=3Dright><A =
href=3D"http://glimpse.cs.arizona.edu/webglimpse">

<FONT size=3D6 FACE=3D"Arial, Helvetica, sans-serif">WebGlimpse</A> =
=E7=E9=F4=E5=F9 =E1<BR></FONT></P></TD></TR>
  <TR>
    <TD align=3Dmiddle colSpan=3D2>


<FORM action=3D/cgi-bin/webglimpse/webglimpse/a/home/WWW/webglimpse =
method=3Dget>

<!-- Please choose the correct CGI script path -->
<!--FORM method=3Dget ACTION=3D"/cgi-bin/wg2/webglimpse"-->
<!--INPUT TYPE=3DHIDDEN NAME=3D"pathinfo" =
VALUE=3D"/usr/local/wg2/archives/10"-->


      <P align=3Dright dir=3Drtl> =E7=F4=F9 =E1=E0=F8=EB=E9=E1 =
=E4=F9=EC=ED: =E7=E9=F4=E5=F9 =E1- WebGlimpse</TD></TR>
  <TR>
    <TD colSpan=3D2>
      <P align=3Dright><INPUT type=3Dsubmit value=3DSubmit>

 <INPUT name=3Dquery size=3D21> =EE=E9=EC=E4/=E0=E5=FA=E9=E5=FA =
=EC=E7=E9=F4=E5=F9</P>

<P align=3Dright dir=3Drtl>
<INPUT name=3Dcase type=3Dcheckbox>
=E4=E1=E3=EC =E1=E9=EF =E0=E5=FA=E9=E5=FA =E2=E3=E5=EC=E5=FA =
=EC=F7=E8=F0=E5=FA (=E1=E0=F0=E2=EC=E9=FA)=20
&nbsp;&nbsp;=20
<INPUT name=3Dwhole type=3Dcheckbox>
 =E4=FA=E0=EE=E4 =E7=EC=F7=E9=FA=20
&nbsp;&nbsp;=20
<INPUT name=3Dlines type=3Dcheckbox>
=F7=F4=E5=F5 =EC=F9=E5=F8=E4=20
&nbsp;&nbsp;<BR>
=EE=F1=F4=F8 =F9=E2=E9=E0=E5=FA =EB=FA=E9=E1 =E4=EE=E5=FA=F8 =
=E1=EE=F6=E9=E0=FA =E4=FA=E0=EE=E4=20
<SELECT name=3Derrors size=3D1>
<OPTION selected>0</OPTION>=20
<OPTION>1</OPTION>
<OPTION>2</OPTION>
</SELECT>
<BR>=E0=E7=E6=E5=F8 =F7=E1=F6=E9=ED =F9=F9=E5=F0=E5 =E1-=20
      <INPUT name=3Dage size=3D5>=E9=EE=E9=ED =E0=E7=F8=E5=F0=E9=ED =
=E1=EC=E1=E3 <BR>=E4=E2=E1=EC =E0=FA =EE=F1=F4=F8 =E4=F7=F6=E1=E9=ED =
=EC=E0=E7=E6=E5=F8=20
      =EC=EE=F7=F1=E9=EE=E5=ED <SELECT name=3Dmaxfiles size=3D1> =
<OPTION>10</OPTION> <OPTION=20
        selected>50</OPTION> <OPTION>100</OPTION> =
<OPTION>1000</OPTION></SELECT>=20
      <BR>=E4=E2=E1=EC =E0=FA =EE=F1=F4=F8 =E4=E4=FA=E0=EE=E5=FA =
=EC=F7=E5=E1=F5 =EC=EE=F7=F1=E9=EE=E5=ED <SELECT name=3Dmaxlines =
size=3D1>=20
        <OPTION>10</OPTION> <OPTION selected>30</OPTION> =
<OPTION>50</OPTION>=20
        <OPTION>500</OPTION></SELECT> <BR>=E4=E2=E1=EC =E0=FA =
=EE=F1=F4=F8 =E4=FA=E5=E5=E9=ED =E4=EE=E5=F6=E2=E9=ED =
=E1=FA=E5=F6=E0=E5=FA=20
      (=F2=E1=E5=F8 =EB=EC =E3=F3 =EE=FA=E0=E9=ED) =
=EC=EE=F7=F1=E9=EE=E5=ED: <INPUT name=3Dmaxchars size=3D"10" =
value=3D10000>
<!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME=3D"cache" VALUE=3D"yes" TYPE=3D"HIDDEN">

 </P></TD></TR>
  <TR>
    <TD colSpan=3D2><A href=3D"http://glimpse.cs.arizona.edu/"><FONT=20
      size=3D1 FACE=3D"Arial, Helvetica, sans-serif">Glimpse</A> and <A =

      href=3D"http://glimpse.cs.arizona.edu/webglimpse">WebGlimpse</A>, =
Copyright =A9 1996, University of=20
      Arizona </FONT></TD></TR></TBODY></TABLE>
</FORM>


</CENTER></DIV></BODY></HTML>

