<hr>
<center>
<table border=5><tr border=0>
<td align=center valign=middle>
   <a href="http://webglimpse.net"><img src=".glimpse-eye.jpg" alt="WG" align=middle width=60 height=34></A>
   <br>
   <font size=-3>
   <a href="http://webglimpse.net">WebGlimpse</a>
   </font>
</td>
<td> 
   <FORM method=get ACTION="/|CGIBIN|/webglimpse.cgi">
   <INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">
   <INPUT NAME=query size=20>
   <INPUT TYPE=submit VALUE="Szukaj">

<SELECT name="file">
<OPTION VALUE="|FILE|"> Tylko odno¶niki na tej stronie 
<OPTION VALUE=""> Ca³e archiwum
</SELECT>

</td></tr></form></table></center><hr>

