<HTML>
<HEAD>
<title>Proste wyszukiwanie w archiwum |TITLE| </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
</head>

<body  onLoad="document.wgform.query.focus()" bgcolor="#ffffdd"><center>

<!-- Decorative banner -->
<table border=0><tr><td valign=center><a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60 border=1 valign=center></A></td>
<td><font size="+2">Szukaj <b>|TITLE|</b> korzystaj±c z <a href="http://webglimpse.net">WebGlimpseII</a></font></td>
</tr></table>
<!-- End decoration -->

<FORM method=get NAME="wgform" ACTION="/|CGIBIN|/webglimpse.cgi">
<INPUT TYPE=HIDDEN NAME="ID" VALUE="|ID|">

<!-- Admins - you can tweak behaviour by adjusting these hidden tags -->

<INPUT TYPE=HIDDEN NAME=nonascii VALUE='off'>  <!-- set to 'on' if using filters -->
<INPUT TYPE=HIDDEN NAME=maxfiles VALUE='20'>   <!-- number of results per page -->
<INPUT TYPE=HIDDEN NAME=maxlines VALUE='20'>   <!-- matching lines per file -->
<INPUT TYPE=HIDDEN NAME=maxchars VALUE='1000'> <!-- num characters to print per match -->
<INPUT TYPE=HIDDEN NAME=cache VALUE='yes'>     <!-- make a Next Hits toolbar -->
<INPUT TYPE=HIDDEN NAME=limit VALUE="500:100"> <!-- limit results to most recent 100 files, 500 matches for speed -->

<!-- End admin configuration section -->

<INPUT TYPE=submit VALUE="Szukaj:">&nbsp;<INPUT NAME=query size=40>&nbsp;<INPUT TYPE=submit VALUE=Go>
<br>
Wed³ug <SELECT NAME="autosyntax">
<OPTION VALUE="ALL">WSZYSTKIE s³owa
<OPTION VALUE="ANY">DOWOLNE s³owo
<OPTION VALUE="EXACT">WYRA¯ENIE
</SELECT> poni¿szych kryteriów .
<p>
Opcjonalne - tylko wyniki BEZ s³ów: <INPUT NAME="autonegate" size=40>
<p>
<A HREF="/|CGIBIN|/webglimpse.cgi?ID=|ID|">Wyszukiwanie</A> 
zaawansowane pozwala na utworzenie zapytania z operatorami logicznymi, wyra¿eniami regularnymi, okre¶lenie opcjonalnych b³êdów, szukanie czê¶ci s³ów, uwzglêdnianie wielko¶ci liter oraz innych kryteriów.

</FORM>
</BODY>
</HTML>


