<HTML><HEAD>
<TITLE>%%introtitle%%</TITLE>
</HEAD>
<BODY bgcolor="#ffffdd" LINK="#0044ff" text="#000010">

<H2>%%welcome%%</H2>
%%intro1%%
<p>
%%intro2%%
<p>
%%intro3%%
<p>
<hr>

<A HREF="http://webglimpse.net">Webglimpse.net</A> 
* 
<A HREF="http://webglimpse.net/docs/">%%docs%%</A>
* 
<A HREF="http://webglimpse.net/download.php">%%downloads%%</A>
* 
<A HREF="http://webglimpse.net/cgi/wgarcmin.cgi">%%demos%%</A>
* 
<A HREF="http://webglimpse.net/dev/">%%devnews%%</A>
* 
<A HREF="https://iwhome.com/webglimpse/">%%buy%%</A>

</BODY>
</HTML>
