
%%advancedsearch%%:    	Advanced search 
%%advancedallows%%:	allows you to create your own boolean expression, use regexps, specify optional misspellings, partial match, case sensitivity and other options.
%%allwords%%:		ALL the words
%%and%%:		and
%%anyword%%:		ANY of the words
%%availablearchs%%:	available archives on this server
%%casesensitive%%:	Case sensitive
       
%%combinedscore%%:	Combined score
%%copyright%%:		Copyright
%%entirearchive%%:   	Entire archive
%%exactphrase%%:	EXACT PHRASE
%%examplesearch%%:	Example search in LANGUAGE
%%files%%:		files.
%%filesreached%%:	files reached
%%Found%%:		Found
%%fullsearch%%:		Full search on archive  
%%go%%:			Go
%%in%%:			in
%%jumptoline%%:		Jump to line
%%justlinks%%:	   	Just the links on this page
%%limitof%%:		limit of
%%linesreached%%:	lines reached, additional matching lines are not shown
%%linkpop%%:		Link Popularity
%%lookfor%%:   		Look for  
%%lookingfor%%:		Looking for
%%matchesin%%:		matches in
%%maxchars%%:		Maximum number of characters output per file:
%%maxfiles%%:		Maximum number of files returned:
%%maxmatches%%:		Maximum number of matches per file returned:
%%misspellings%%:	misspellings allowed
%%mostrecent%%:		Most recent first
%%neighof%%:        	neighborhood of
%%newquery%%:		new query
%%onepage:		Return only one page of hits for maximum speed.  
%%onlykeywords%%:	Try to print only sentences containing keywords. Only most recent files will be returned.
%%partialmatch%%:	Partial match
%%rankby%%:		Rank by
%%returnfiles%%:	Return only files modified within the last
		context: the last xx days
%%days%%		days
%%searchfor%%:   	Search for
%%searchfull%%:		Search the full archive: 
%%Searchline%%: Search the archive 
%%searchresults%%:      Search Results
%%search%%:		Search
%%selectone%%:	   	Select one or more of the above archives.
%%showingres%%:		showing results
%%stringto%%:		String to search for: 
%%titlemeta%%:		Title and Meta matches
%%typedabove%%: 	typed above. 
%%uofa%%:		University of Arizona
%%usefilters%%:		Use filters
		       
%%usingwebg%%:	using Webglimpse
%%SimpleSearch%%:       Simple search of archive 
%%VerySimpleSearch%%:	Very Simple search of archive 
%%verysimple%%:		very simple
%%withoutwords%%:   	Optional - only find matches WITHOUT the words:  
