<style>
.searchBox {
  border : 1px solid #000000;
  background-color : #FFFFFF;
  color : #000000;
  font-size : 13;
  font-family :  Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.searchButton {
  border : 1px solid #000000;
  font-size : 13;
  font-family :  Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.leftFont {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
 font-weight: bold;
}
.leftFontHead {
 font-size : 13;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
 font-weight: bold;
}
.middleFont {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
}
.middleFontTitle {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
}
.middleFontHead {
 font-size : 13;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
}
.topFont {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #FFFFFF;
 font-weight: bold;
 text-decoration: none;
}


a.middleFont:HOVER {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: underline;
}
a.middleFontTitle:HOVER {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: underline;
}
a.middleFontHead:HOVER {
 font-size : 13;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: underline;
}



a.topFont:HOVER {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #FFFFFF;
 font-weight: bold;
 text-decoration: underline;
}


a.leftFont:HOVER {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: underline;
 font-weight: bold;
}

</style>
