<HTML>
<HEAD>
<TITLE>Archive Search</TITLE>
</HEAD>

<BODY bgcolor="#76AAAA"> 
<center>
<table bgcolor="#EBEACA" border=1> <CAPTION><font size=+1><EM>Web Glimpse Adminstration</EM></font></CAPTION>
<FORM method=GET action="|WGARCMIN|">
<input type=hidden name=ID value=|ID|>
<input type=hidden name="TYPE" value="SITE">
<input type="HIDDEN" name="OLDURL" value="|STARTURL|">
	<tr><td align=center valign=middle><font size=+1>Edit Site in Archive # |ID|: |TITLE|</font><br>
	 <A HREF="|WGARCMIN|?NEXTPAGE=D&DOC=docEditSite.html"TARGET="docwin">help how does this work?</a></td></tr>
	<tr><td align=left valign=middle><font size=+1>Site URL :</font><input type=text name=STARTURL value="|STARTURL|" size=50><br>
	<font size=+1>Max #Pages :</font><input type=text name=MAXLOCAL value="|MAXLOCAL|" size=7><br>
	<font size=+1>Make Neighborhoods :</font><input type=checkbox name=MAKENH_FLAG value=1 #MAKENH_FLAG# ><br>
	<font size=+1>Max #hops :</font><input type=text name=HOPS value="|HOPS|" size=7> (optional)<br>
	<font size="+1">Index only links starting with:</font><input type=text name=LIMITPREFIX value="|LIMITPREFIX|" size=40><br>
	<font size="+1">The above is a regular expression:</font><input type=checkbox name=USEREGEXP value=1 #USEREGEXP# ><br>
<br>
<!--
		<table>
			<tr><td align=center valign=middle><font size="+1">Reindex Freq</font><br>(You must re-select the index freq on edit):</td>
		    	<td>
				<table>
			       		<tr><td align=center valign=middle>day</td>
				   	    <td align=center valign=middle>hrs</td>
				   	    <td align=center valign=middle>min</td>
				   	    <td align=center valign=middle>date</td></tr>
			       	   	<tr><td><select name=FREQ>
			 		   	<option> Sun
			  		   	<option> Mon
				    	   	<option> Tue
				    	   	<option> Wed
				    	   	<option> Thu
				    	   	<option> Fri
				    	   	<option> sat
			        	   	</select></td>
			           	    <td><select name=HRS>
					   	<option> 00
					   	<option> 01
					   	<option> 02
					   	<option> 03
  					        <option> 04
					   	<option> 05
					   	<option> 06
					   	<option> 07
					   	<option> 08
					   	<option> 09
					   	<option> 10
					   	<option> 11
					   	<option> 12
					   	<option> 13
					   	<option> 14
					   	<option> 15
					   	<option> 16
					   	<option> 17
					   	<option> 18
					   	<option> 19
					   	<option> 20
					   	<option> 21
					   	<option> 22
					   	<option> 23
					   	</select></td>
			       		    <td><input type=text name=MIN value=00 size=4></td>
			           	    <td><select name=date>
					   	<option> any
					   	<option> 01
					   	<option> 02
					   	<option> 03
					   	<option> 04
					   	<option> 05
					   	<option> 06
					   	<option> 07
					   	<option> 08
					   	<option> 09
					  	<option> 10
					   	<option> 11
					   	<option> 12
					   	<option> 13
					   	<option> 14
					   	<option> 15
					   	<option> 16
					   	<option> 17
					   	<option> 18
					   	<option> 19
					   	<option> 20
					   	<option> 21
					   	<option> 22
					   	<option> 23
					   	<option> 24
					   	<option> 25
					   	<option> 26
					   	<option> 27
					   	<option> 28
					   	<option> 29
					   	<option> 30
					   	<option> 31
					   	</select></td></tr></table></td></tr></table>
-->
	<tr><td align=center valign=middle><input type=submit name=CONTINUE value=continue></td></tr>

<INPUT TYPE=HIDDEN NAME=ACTION VALUE='T'>
<INPUT TYPE=HIDDEN NAME=NEXTPAGE VALUE='M'>

</FORM>
</table>
</center>
</BODY>
</HTML>
