<HTML>
<HEAD>
<TITLE>Archive Search</TITLE>
</HEAD>

<BODY bgcolor="#76AAAA"> 
<center>
<form method=POST action="|WGARCMIN|">
<table border=1 bgcolor="#EBEACA"> <CAPTION><font size="+2"><EM>Web Glimpse Administration</EM></font></CAPTION>
		<tr><td align=center valign=middle><font size="+1">Administrator Login</font>
		<p>
		<b>|MSG|</b>
		<p>

		<font size="+1">Username :</font><input type=text name=USERNAME size=20>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<font size="+1">Password :</font><input type=password name=PASSWORD size=20>
		<p>
			<input type=submit value="  Login  ">
		<br>

		<tr><td>
			We are using cookie-based authentication, so make sure your browser has cookies enabled.  You will have to re-login about once an hour.
		<p>
			If you don't want to do it this way, just move the wgarcmin script into an access controlled area with real httpd server authentication.  

		</td></tr>

		</table><br>

<INPUT TYPE=HIDDEN NAME=ACTION VALUE=''>
<INPUT TYPE=HIDDEN NAME=NEXTPAGE VALUE='O'>

</FORM>
</center>
</BODY>
</HTML>
