<style>
.middleFont {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
}
.smallFont {
 font-size : 10;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: none;
}
a.middleFont:HOVER {
 font-size : 11;
 font-family :  Verdana, Arial, Helvetica, sans-serif;
 color : #000000;
 text-decoration: underline;
}
</style>

<table border=1 bgcolor='#ffffdd'>
<tr><td align=left bgcolor="#ddddaa"><font class="smallFont">Sponsored Links:</font></td></tr>
~RESULTS~ <tr><td><font class="middleFont"><A HREF="|URI|" class="middleFont">|Title|</A></font><font class="smallFont">URL: |URL|</font><br><font class="middleFont">|Description|</font></td></tr>
</table>



