<HTML>
<HEAD>
<title>Full search on available archives</title>
</head>

<body  bgcolor="#ffffdd"><center>



<table border=5 bgcolor="#ffffff">
<tr><td align=center valign=middle>
    <a href="http://webglimpse.net"><img src="/|CGIBIN|/showimg.cgi" alt="Webglimpse Logo" align=middle height=34 width=60></A>
</td>
<td align=center valign=middle>
   <font size=+3>
   <a href="http://webglimpse.net">WebGlimpseII</a>
   Search<br></font>
</td>
</tr>

<!-- Admins - local copy pointers have been eliminated as of v1.6. If this bothers you e-mail gberns@iwhome.com and complain -->

<tr><td colspan=2 align=center>

<FORM method=get ACTION="|WEBGLIMPSE|">

<!-- Set the following hidden input to Y to make this a search in
the first available selected archive rather than all the selected archives.
This is used primarily to keep an archive available for searching while indexing is being performed, by having two equivalent archives indexed on alternate days.  In this case you will probably want to make the checkboxes below into hidden tags as well.  -->
<INPUT TYPE=HIDDEN NAME="alternate" VALUE="N">


<table border=0><tr><td align=right valign=center>Available archives
<br>on this server:
</td><td>
~ARCHIVES~ <input type=checkbox name="ARCHID_|ID|" VALUE="|ID|"> |ID|:|TITLE| <br>
<p>
<i><font size="-1">Select one or more of the above archives.</font></i>
</td></tr></table>
</td></tr>

<tr><td colspan=2>
String to search for: <INPUT NAME=query size=30>
<INPUT TYPE=submit VALUE=Submit>
<br>

<INPUT NAME=case TYPE=checkbox>Case&#160;sensitive
<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=whole TYPE=checkbox>Partial&#160;match
<!-- SPACES -->&#160;&#160;&#160;
Rank by:
<SELECT name="rankby">
<OPTION VALUE="DEFAULT">Combined score
<OPTION VALUE="AGE">Most recent first
<OPTION VALUE="LINKPOP">Link Popularity
<OPTION VALUE="TITLE_AND_META">Title and Meta matches
</SELECT>
<br>


<br>
<SELECT NAME=errors align=right>
<OPTION>0
<OPTION>1
<OPTION>2
</SELECT>
misspellings&#160;allowed

<!-- Admins - "Use filters" must be checked for field-based searching, 
any kind of files that were filtered when indexed (such as PDF/Word/Excel), 
and non-English characters.  If it is required for your index, 
you may want to turn the following checkbox on by default or even make 
it a hidden tag with value="on" -->

<!-- SPACES-->&#160;&#160;&#160;&#160;&#160;&#160;
<INPUT NAME=nonascii TYPE=checkbox>Use filters

<!-- SPACES -->&#160;&#160;&#160;
<INPUT NAME=lines TYPE=checkbox>Jump&#160;to&#160;line
<br>
</center>
Return only files modified within the last <INPUT NAME=age size=5>
days.
<br>
Maximum number of files returned:
<SELECT NAME=maxfiles>
<OPTION>10
<OPTION selected>50
<OPTION>100
<OPTION>1000
</SELECT>
<br>Maximum number of matches per file returned:
<SELECT NAME=maxlines>
<OPTION>10
<OPTION selected>30
<OPTION>50
<OPTION>500
</SELECT>
<br>Maximum number of characters output per file:
<INPUT NAME="maxchars" VALUE=10000>
<br>
<input type=checkbox checked name="limit"> Return only one page of hits from each archive for maximum speed.
 Only most recent files will be returned.
<br><i>(this option only functional with commercial version; works in tandem with
full result caching)</i><!-- Admins - remove this line to stop caching next hits -->
<INPUT NAME="cache" VALUE="yes" TYPE="HIDDEN">

</FORM>
</td></tr>
<tr><td colspan=2>
<center>
<font size=-2>
<a href="http://webglimpse.net/">Glimpse and 
WebGlimpse</a>, 
Copyright &copy; 1996 
University of Arizona, &copy; 1998 Internet WorkShop
</center>
</font></td></tr>
</table>


</body>
</html>
